<!DOCTYPE html>
<html>
<head>
	<title>NGO SIGN_UP</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="/sign_up(ngo).css">
  	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
</head>
<body>
<header class="header-fixed">
	<div class="header-limiter">
		<h1><a href="/home">Sam<span>Vedna</span></a></h1>
		<nav>
			<a href="/home">Home</a>
			<a href="/aboutus">About us</a>
			<a href="/contactus">Contact Us</a>
			<a href="/logout">Log Out</a>
		</nav>
	</div>
</header>
<div class="container text-center">
<h1>Sam<span>Vedna</span></h1>
</div>
<form action="/user/<%= Edit._id %>" method="POST">
<div class="row justify-content-center">
	<div class="col-12 col-md-6 col-lg-5 col-xl-4">
		<div class="login-form text-center">
			<div class="form-header">
				<h3>Sign Up as NGO</h3>
			</div>

			<div class = "card-body text-left">
					<div class="form-group input-style">
						<label for="name">
							NGO Name
							<span class="text-danger">*</span>
						</label>
						<input type="text" name="name" class="form-control" value="<%= Edit.Name %>" >
					</div>
					<div class="form-group input-style">
						<label for="number">
							Mobile No:
							<span class="text-danger">*</span>
						</label>
						<input type="text" name="username" class="form-control" maxlength="10" value="<%= Edit.username %>" >
					</div>
					<div class="form-group input-style"><label for="number" >Address</label>
						<input name="address" type="textarea" class="form-control max-height-70" 
						value="<%= Edit.Adress %>" >
					</div>
					<label for="city">City <span class="text-danger">*</span></label>
					<div class="form-group">
  								<select class="form-control" id="sel1" name="city" disabled>
  									<option><%= Edit.City %></option>
  								</select>
					</div>
					<label for="city">Area <span class="text-danger">*</span></label>
					<div class="form-group" >
  								<select class="form-control" id="sel1" name="area" >
  								<option><%= Edit.Area %></option>
    							<option>--SELECT Area--</option>
    							<option>ADAJAN</option>
    							<option>RANDER</option>
    							<option>CITY-LIGHT</option>
    							<option>GHOD-DOD ROAD</option>
    							<option>UDHNA</option>
    							<option>VARACHA</option>
    							<option>ATHWA-LINES</option>
    							<option>VESU</option>
  								</select>
					</div>
					<label for="password">
						Password
						<span class="text-danger">*</span>
					</label>
						<div class="form-group">
							<input type="password" name="password" class="form-control" disabled>
						</div>
					</label>
					<div class="form-group">
						<select name="categ">
							<option value=""><%= Edit.isOrg %></option>
							<option value="organization">NGO</option>
							<option value="user">Citizen</option>
						</select>
					</div>
<div>
	<input type="submit" name="submit" class="btn btn-outline-primary">
</div>
		</div>
	</div>
	</form>
</body>
</html>